# nsupdate.config
# The nsupdate.sh is processing all .config files by looping.
# If you want to update an IPv4 and an IPv6 record you need two config files.

# Login credentials for the inwx admin interface
INWX_USER="USERNAME"
INWX_PASS="PASSWORD"

# The domain that you want to update AND its main/zone domain
# The MAIN_DOMAIN is needed for the API-Request to get the record ID
MAIN_DOMAIN="example.com"
DOMAIN="home.example.com"
# If it is the same domain:
#DOMAIN="example.com"

# Set the record type to either A, AAAA or MX
# For MX you would normaly just set a domain and not an ip, so this is just a option.
TYPE="A"

# From which site should we get your WAN IP?
# Note that for IPv4 or IPv6 the IP_CHECK_SITE should work
# e.g. for IPv4 use api.ipify.org and for IPv6 use api6.ipify.org
IP_CHECK_SITE="https://api.ipify.org/"

# TTL: Time to Live
# default TTL setting by inwx is 3600 (1 hour)
# minimum TTL allowed by inwx is 300 (5 minutes) for regular nameserver record updates
# In this script the defaul setting is 300.
#TTL=300

# Log file name.
LOG="$0.log"

# Suppress all messages and deactivates logging.
# default is SILENT="NO"
#SILENT="YES"

# Use drill instead of nslookup for hostname lookup.
#USE_DRILL="YES"

# The domain-Record-ID from the inwx interface.
# If the command-line-tool "xmllint" is working you dont need to set this option.
# Note: You can get the specific domain record ID while editing the given nameserver entry by
#       inspecting the target URL of the save button.
#INWX_DOMAIN_ID="123456789"

# Provide a command to get the Ip instead of using Curl
#IPCOMMAND=""

# Use IPv6 connection.
# deprecated option for backward compatibility, use TYPE instead
#IPV6="NO"

# Update an MX record.
# deprecated option for backward compatibility, use TYPE instead
#MX="NO"
