# nsupdate.config

# Log file name.
LOG="$0.log"

# From which site should we get your WAN IP?
IP_CHECK_SITE="https://ip.dblx.io"

# Use drill instead of nslookup for hostname lookup.
USE_DRILL="NO"

# Use IPv6 connection.
IPV6="NO"

# Update an MX record.
MX="NO"

# Suppress all messages.
SILENT="NO"

# Login credentials for the inwx admin interface
INWX_USER="USERNAME"
INWX_PASS="PASSWORD"

# The hostname that you want to update and it's ID from the inwx interface.
# Note: You can get the domain ID while editing the given nameserver entry by
#       inspecting the target URL of the save button.
DOMAIN="DOMAIN"
INWX_DOMAIN_ID="123456789"
