# nsupdate.config

# from which site should we get your wan ip?
IP_CHECK_SITE="https://ip.dblx.io"

# use drill instead of nslookup for hostname lookup
USE_DRILL="YES"

# Use IPv6 connection
IPV6="NO"

# Update an MX record
MX="NO"

# Suppress all messages
SILENT=NO

# Login credentials for the inwx admin interface
INWX_USER="USERNAME"
INWX_PASS='PASSWORD'

# The hostname that you want to update and it's ID from the inwx interface
# You get the ID when you edit the given nameserver entry and hover the save button.
DOMAIN="DOMAIN"
INWX_DOMAIN_ID="123456789"
